<%= form_with(model: @message, local: true,url: choose_new_or_edit ) do |form| %>
<% if message.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

  <ul>
    <% message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= form.label :content %>
  <%= form.hidden_field :content %>
  <%= form.text_area :content, class: "form-control", id: "input-text", row: 4  %>
</div>

<div>
  <%=image_tag(@message.image.url) if @message.image && @message.image.url%>
  <%=form.file_field :image %>
  <%=form.hidden_field :image_cache %>

  </div>
<div class="actions">
  <%= form.submit  class: "btn btn-default btn-sm btn_green"  %>
</div>
<% end %>